.logo {
	width: 200px;
}

.paper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.remember-me {
	color: white;
	align-self: flex-start;
}

.connection {
	letter-spacing: 0.5rem;
}
